@import '../../styles/variables.scss';

.dishTag {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .tagList {
        width: 100%;
        flex: 1;
        overflow-y: scroll;

        .tagLi {
            width: 670rpx;
            box-sizing: border-box;
            background-color: $bg-color;
            border-radius: 30rpx;
            margin: 0 auto;
            margin-top: 40rpx;
            padding: 30rpx 40rpx 40rpx;
            display: flex;
            flex-direction: column;

            .tagName {
                font-size: 32rpx;
                font-weight: bold;
                color: $text-color;
                line-height: 44rpx;
                margin-bottom: 30rpx;
            }

            .tagDescription {
                font-size: 28rpx;
                color: $text-color;
                line-height: 50rpx;
                margin-bottom: 20rpx;
            }

            .buttons {
                align-self: flex-end;
                display: flex;
                justify-content: flex-end;

                .editButton {
                    background-color: $primary-color;
                    border-radius: 30rpx;
                    height: 60rpx;
                    line-height: 60rpx;
                    box-sizing: border-box;
                    padding: 0 28rpx;
                    color: $bg-color-white;
                    font-size: 24rpx;
                    margin-right: 30rpx;
                }

                .deleteButton {
                    background-color: $delete-color;
                    border-radius: 30rpx;
                    height: 60rpx;
                    line-height: 60rpx;
                    box-sizing: border-box;
                    padding: 0 28rpx;
                    color: $bg-color-white;
                    font-size: 24rpx;
                }
            }
        }

        .emptyState {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 40rpx;
            margin-top: 200rpx;

            .emptyStateText {
                font-size: 32rpx;
                color: $text-color;
                margin-bottom: 20rpx;
                text-align: center;
            }

            .emptyStateDesc {
                font-size: 28rpx;
                color: $text-color-placeholder;
                text-align: center;
            }
        }
    }

    .buttonBox {
        padding: 60rpx 0;

        .addButton {
            height: 96rpx;
            line-height: 96rpx;
            width: 646rpx;
            border-radius: 48rpx;
            background-color: $primary-color;
            color: $bg-color-white;
        }
    }
}